.App-header {
  text-align: center;
  margin-top: 100px;
}

p {
  margin-bottom: 50px;
  margin-top: 50px;
  font-weight: 900;
  font-size: 50px;
  color: cadetblue;
}

span {
  background-color: cornflowerblue;
  padding: 10px;
  border-radius: 50%;
  color: azure;
  font-weight: 900;
  padding: 50px;
  font-size: 50px;
}

#countTime {
  padding: 50px;
  font-size: 100px;
}